<div class='header flex-container flex-container-row' ng-controller="header-controller as vm">
	<div class='header-title'>Stock Strategy Analyzer</div>
	<div class='header-right'>
		<input type="button" value='Find to buy' class='new-job-btn findtobuy'  ng-click="vm.newFindToBuyJob()"/>
		<input type="button" value='Single Stock Test' class='new-job-btn onestocktest' ng-click="vm.newSingleStockTestJob()"/>
		<input type="button" value='Strategy Test' class='new-job-btn strategytest' ng-click="vm.newStrategyTestJob()"/>
	</div>
</div>