.transaction-dialog-title{
    justify-content: space-between;
    padding-right: 10px;
}

.transaction-dialog-title .description{
    width: 350px;
}

.transaction-dialog .dialog-title {
    flex: 0 0 auto;
}

.transaction-dialog .filtered-statistics {
    margin-bottom: 3px;
    padding-top: 5px;
    margin-top: 10px;
    border-top: 1px solid black;
    margin-right: 10px;
    justify-content: space-between;
}

.transaction-dialog .filtered-statistics input.filter-value {
    width: 70px;
}

.transaction-dialog-transaction-date-item .loss .count,
.transaction-dialog-transaction-date-item .loss .sum,
.transaction-dialog-transaction-date-item .loss .avg-gain, .transaction-dialog-transaction-date-item .loss.avg-gain{
    color: #00bb00;
}

.transaction-dialog-transaction-date-item .count.max {
    font-weight: bolder;
}

.transaction-dialog-transaction-date-item .transaction-day-item {
    padding-left: 20px;
}

.transaction-dialog #visualisation {
    flex: 0 0 300px;
    /*position: absolute;*/
    /*right: 0px;*/
}